# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio folder
.vs/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.log
*.ncrunch*
*.localhistory/
*.DS_Store
